<!DOCTYPE html>
<html>
<head>
    <title>TodoMVC</title>
    <script src="https://unpkg.com/vue"></script>
    <link  href="/todo.css" rel="stylesheet"/>
    <title>Todo MVC using VueJS, Spring Boot, PostgreSQL</title>

</head>
<body>
<div class="box">
<section class="todoapp">
    <header class="">
        <h1 class="heading heading--stroke heading--shadow">todos</h1>
        <input
                class="new-todo"
                autofocus
                autocomplete="off"
                placeholder="What needs to be done?"
                v-model="newTodo"
                @keyup.enter="addTodo"/>
    </header>
    <section class="main" v-show="todos.length" v-cloak>
        <input
                id="toggle-all"
                class="toggle-all"
                type="checkbox"
                v-model="allDone"/>
        <label for="toggle-all"></label>
        <ul class="todo-list">
            <li
                    v-for="todo in filteredTodos"
                    class="todo"
                    :key="todo.id"
                    :class="{ completed: todo.completed, editing: todo == editedTodo }">
                <div class="view">
                    <input class="toggle" type="checkbox" v-model="todo.completed" />
                    <label @dblclick="editTodo(todo)">{{ todo.title }}</label>
                    <button class="destroy" @click="removeTodo(todo)"></button>
                </div>
                <input
                        class="edit"
                        type="text"
                        v-model="todo.title"
                        v-todo-focus="todo == editedTodo"
                        @blur="doneEdit(todo)"
                        @keyup.enter="doneEdit(todo)"
                        @keyup.esc="cancelEdit(todo)"/></li>
        </ul>
    </section>
    <footer class="footer" v-show="todos.length" v-cloak>
        <span class="todo-count">
          <strong>{{ remaining }}</strong> {{ remaining | pluralize }} left
        </span>
        <ul class="filters">
            <li>
                <a href="#/all" :class="{ selected: visibility == 'all' }">All</a>
            </li>
            <li><a href="#/active" :class="{ selected: visibility == 'active' }"
                >Active</a>
            </li>
            <li><a href="#/completed" :class="{ selected: visibility == 'completed' }">Completed</a>
            </li>
        </ul>
        <button
                class="clear-completed"
                @click="removeCompleted"
                v-show="todos.length > remaining">
            Clear completed
        </button>
    </footer>
</section>
    <footer class="info">
        <p>Double-click to edit a todo</p>
    </footer>
<script src="https://unpkg.com/vue@2.5.8/dist/vue.js"></script>
<script src="https://unpkg.com/axios@0.17.1/dist/axios.min.js"></script>
<script src="/todo.js"></script>

    <div class="firebase">
        <div class="parent_triangel">
            <div class="triangel"></div>
        </div>
        <h1 class="firbase_title"></h1>
    </div>
    <div class="this">
        <div class="perspective">
            <div class="sq"></div>
            <div class="s1"></div>
            <div class="s2"></div>
            <div class="s3"></div>
            <div class="s4"></div>
        </div>
        <div class="text">Woody Side</div>
    </div>
</body>
</html>